/* line 4, ../scss/style.scss */
.container.well {
  margin-top: 75px;
  margin-bottom: 200px;
}

/* line 8, ../scss/style.scss */
.slide, .component {
  margin: 5px;
  padding: 5px;
  border: 1px solid #000;
}

/* line 13, ../scss/style.scss */
.textZone, .slide .title .text-zone, .slide .title .text-content, .slide .body .text-zone, .slide .body .text-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 5px;
  margin: 3px;
}

/* line 20, ../scss/style.scss */
.preview-common, .slide .title .preview, .slide .body .preview {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 28, ../scss/style.scss */
.slide .title .text-content {
  min-height: 50px;
  height: 50px;
}
/* line 41, ../scss/style.scss */
.slide .body .text-content {
  min-height: 200px;
  height: 200px;
}

/* line 51, ../scss/style.scss */
#log {
  bottom: 0;
  width: 99%;
  left: 10px;
  padding: 10px;
  overflow-y: auto;
  height: 150px;
  position: fixed;
  background: #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 63, ../scss/style.scss */
#log li {
  color: red;
  list-style-type: circle;
}

/* line 67, ../scss/style.scss */
.tester {
  background: #555;
  min-height: 100px;
  border: 1px solid #000000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 74, ../scss/style.scss */
.tester .title {
  background: #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 79, ../scss/style.scss */
.tester .body {
  background: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
